# ignore terraform files
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# ignore .terraform directory
.terraform/

# ignore .pem files
*.pem

# ignore .env files
.env

# ignore user_data.sh file
user_data.sh